!!!
%html
  %head
    %title Den
    %meta{charset: "UTF8"}/
    %link{href: "css/css.css", rel: "stylesheet", type: "text/css"}/
    %script{src: "js/jq.js"}
  %body
    .header
      .header-logo
        .header-line.line
        .header-logo-item
      %header
        %h1.header-caption
          ICONS FOR FREE
        %p.header-descr These Icons and mini illustrations were created by me for themselves or simply weren't useful during work on any projects. All graphics can be downloaded and used  for non-commercial and commercial purposes
        %p.header-subscribe
          Best Regards
          %span.author Ilya Denisenko
    .content
      .set
        %article
          %h1.set-caption Habrahabr badges
          %ul.icon-list.icon-list-by3
            %li.icon-item
              %img{alt: "Legend", src: "img/Legend.png", title: "Legend"}/
            %li.icon-item
              %img{alt: "Star", src: "img/Star.png", title: "Star"}/
            %li.icon-item
              %img{alt: "Author", src: "img/Author.png", title: "Author"}/
            %li.icon-item
              %img{alt: "Translator", src: "img/Translator.png", title: "Translator"}/
            %li.icon-item
              %img{alt: "Podkaster", src: "img/Podkaster.png", title: "Podkaster"}/
            %li.icon-item
              %img{alt: "Humorist", src: "img/Humorist.png", title: "Humorist"}/
            %li.icon-item
              %img{alt: "Old resident", src: "img/Old%20resident.png", title: "Old resident"}/
            %li.icon-item
              %img{alt: "Commentator", src: "img/Commentator.png", title: "Commentator"}/
            %li.icon-item
              %img{alt: "Troll", src: "img/Troll.png", title: "Troll"}/
          .set-subscribe
            %section
              %h2.name-caption Icons:
              %ul.name-list
                %li.name-item Legend
                %li.name-item Star
                %li.name-item Author
                %li.name-item Translator
                %li.name-item Podkaster
                %li.name-item Humorist
                %li.name-item Old resident
                %li.name-item Commentator
                %li.name-item Troll
            %a.popup-link{href: "#"} Download
      .set
        %article
          %h1.set-caption Habrahabr badges
          %ul.icon-list.icon-list-by3
            %li.icon-item
              %img{alt: "Legend", src: "img/Legend.png", title: "Legend"}/
            %li.icon-item
              %img{alt: "Star", src: "img/Star.png", title: "Star"}/
            %li.icon-item
              %img{alt: "Author", src: "img/Author.png", title: "Author"}/
            %li.icon-item
              %img{alt: "Translator", src: "img/Translator.png", title: "Translator"}/
            %li.icon-item
              %img{alt: "Podkaster", src: "img/Podkaster.png", title: "Podkaster"}/
            %li.icon-item
              %img{alt: "Humorist", src: "img/Humorist.png", title: "Humorist"}/
            %li.icon-item
              %img{alt: "Old resident", src: "img/Old%20resident.png", title: "Old resident"}/
            %li.icon-item
              %img{alt: "Commentator", src: "img/Commentator.png", title: "Commentator"}/
            %li.icon-item
              %img{alt: "Troll", src: "img/Troll.png", title: "Troll"}/
          .set-subscribe
            %section
              %h2.name-caption Icons:
              %ul.name-list
                %li.name-item Legend
                %li.name-item Star
                %li.name-item Author
                %li.name-item Translator
                %li.name-item Podkaster
                %li.name-item Humorist
                %li.name-item Old resident
                %li.name-item Commentator
                %li.name-item Troll
            %a.popup-link{href: "#"} Download


    .footer
      .footer-line.line
      .footer-logo
      .footer-info
        %footer
          %h2.footer-name Denisenko ILYA
          %a.footer-link{href: "http://behance.net"} Portfolio on behance.net
          %br/
          %a.footer-link{href: "http://idenisenko.ru"} My site idenisenko.ru
          %br/
          %a.footer-mail{href: "mailto:denisenkoiv@gmail.com"} denisenkoiv@gmail.com