---
layout: default
---

{% for post in site.posts %}
  <div class="set">
    <article>
      <h1 class="set-caption">{{ post.fullname }}</h1>
      
      <ul class="icon-list">
        {% for icon in post.icons %}
          <li class="icon-item"><img alt="{{ icon }}" src="icons/{{ post.title | downcase }}/{{ icon | downcase}}.png" title="{{ icon }}"></li>
        {% endfor %}
      </ul>
      
      <div class="set-subscribe">
        <section>
          <h2 class="name-caption">Icons:</h2>
          <ul class="name-list">
            {% for icon in post.icons %}
              <li class="name-item">{{ icon }}</li>
            {% endfor %}
          </ul>
        </section>
        
        <div class="popup-link">
          <script type="text/javascript" src="https://www.ribbon.co/ribbon-modal.js"></script>
          <a onclick="return false;" target="_self" href="http://rbn.co/{{ post.ribbon }}">Download</a>
        </div>
      </div>
    </article>
  </div>
{% endfor %}